@font-face {
  font-family: "Mono";
  src: url("DroidSansMono.ttf");
}

@font-face {
  font-family: "CM Sans";
  src: url("cmu.sans-serif-medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(248, 248, 248);
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.page {
  width: 95%;
  max-width: 729px;
  margin: 1em auto;
  padding: 0 1em;
  border: 1px black solid;
  font-size: 18px;
  font-family: "CM Sans", sans-serif;
  background: white;
}

.code {
  margin: 1em auto;
  border: 1px black solid;
}

code {
  font-size: 0.8em;
  font-family: "Mono", monospace, sans-serif;
}

.ovf {
  overflow-x: auto;
  overflow-y: hidden;
}

img {
  height: auto;
  max-width: 90%;
  border: 1px black solid;
}

p, h1, h2, h3 {
  margin: 15px 0;
  line-height: 2;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
}

pre {
  margin: 0;
  background: rgb(247, 247, 247) !important;
}

pre > * {
  padding: 1em 0 !important;
  margin: 0 1em !important;
  background: rgb(248, 248, 248) !important;
}

.grey {
  color: grey;
}

.psd {
  display: flex;
  justify-content: center;
}

.language-plaintext {
  font-family: "CM Sans", sans-serif !important;
  font-size: 1em !important;
}
