@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: whitesmoke;
}

.page {
  width: 95%;
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1em;
  border-top: 1px white solid;
  border-right: 1px black solid;
  border-bottom: 1px white solid; 
  border-left: 1px black solid;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: white;
}

.code {
  margin: 1em auto;
  background: whitesmoke;
  border: 0.5px black solid;
}

code {
  font-size: 0.9em;
}

.ovf {
  overflow-x: auto;
  overflow-y: hidden;
}

img {
  height: auto;
  max-width: 90%;
  border: 1px black solid;
}

p, h1, h2, h3 {
  margin: 15px 0;
  line-height: 2;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
}

pre {
  margin: 0;
}

pre > * {
  background: whitesmoke !important;
  padding: 1em 0 !important;
  margin: 0 1em !important;
}
